/* for mobile view */
@media only screen and (min-device-width:1px) and (max-device-width:640px){
    h1, h2{
        color: rgb(255, 114, 138) ;
    }
    // styling nav
    .menu{
      margin: 0 30px 0 0;
      display: none; 
      position: fixed;
      width: 75%;
      border: solid 2px black;
      background-color: rgba(0, 0, 0, 0.51); 
      a {
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.51);
        margin: 0 10px;
        width: 100%;
        line-height: 70px;
        display: block;
        text-align: center;
        clear: right;
        border-radius: 2px;
        &:hover {
          color: #e38f84;
        }
      }
    }
  label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
   }
   #toggle {
     display: none;
   }
   #toggle:checked + .menu {
     display: block;
   }
  
  input {
     margin-left: 20%;
  }
  button{
    img {
      width: 12px;
      height: 12px;
    }
  }
 .slidshow{
    display: flex;
    overflow: hidden;
     img{
         padding: 10px;
         border-radius: 20px;
         height: 250px;
         width: 200px;
     }  
 }
 .wrapper {
    overflow: hidden;
  }
  .slider {
    background: url("../images/carousalremake.png") repeat-x;
    height: 150px;
    width: 5076px;
    animation: move 90s linear infinite;
  }
  @keyframes move{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-3172px, 0, 0);
    }
  }
  button{
    background-color: #0000005e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    &:hover{
       background-color: rgb(255, 114, 138) ;
       padding-right: 30px;
        }
        a{
          margin-top: 20px;
          color:black;
          text-decoration: none;
          &:hover{
              white:rgb(255, 114, 138);
          }
      }
   }
  .footer2{
    background-color:  rgb(255, 114, 138) ;
    height: 30px;
    padding: 5px;
}

//   styling for buttons
  button{
    background-color: #0000005e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    &:hover{
        background-color: rgb(255, 114, 138) ;
        padding-right: 30px;
    }
}
// styling for footer
 .footer{
  img{
    height: 40px;
    width: 40px;
}
  .company{
    
    li{
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 20px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover{
        color:red;
      }
     }
  }
  .help{
    li{
      text-align: center;
      list-style-type: none;
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover{
        color:red;
      }
     }  
    } 
    .scroll_button{
      a {
        background-color: grey;
        color: white;
        padding: 7px;
        border-radius: 2px;
        text-decoration: none;
        animation-name: scroll;
        animation-iteration-count: infinite;
        animation-duration: 5000s;
       }
    }
  } 

}
/* for laptop view */
@media only screen and (min-device-width:1024px) and (max-device-width: 1440px){
    h1, h2{
        color: rgb(255, 114, 138) ;
    }
    .header{
        h1{
            margin-top:10px;
        }
        // background-color: #443f3fad;
        height: 160px;
        button{
            background-color: #0000005e;
            border: none;
            color: black;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: rgb(255, 114, 138) ;
                padding-right: 30px;
                color:white;
            }
            a{
                color:white;
                text-decoration: none;
            }
        }
    }
// styling the navbar
.navbar{
    text-align: center;
    label{
      display: none;
    }
    .search{
      height: 20px;
    }
    #toggle{
      display: none;
    }
    a{
      padding:20px;
       color:black;
       text-decoration: none;
       &:hover{
           color:rgb(255, 114, 138);
       }
   }
}
    .wrapper {
        overflow: hidden;
      }
      .slider {
        background: url("../images/carousalremake.png") repeat-x;
        height: 150px;
        width: 5076px;
        animation: move 90s linear infinite;

      }
      @keyframes move{
        0%{
          transform: translate3d(0, 0, 0);
        }
        100%{
          transform: translate3d(-3172px, 0, 0);
        }
      }
    //  layout for portfolio page
    .slidshow{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    // layout for footer
    .footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-gap: 10px;
        .contact{
            grid-column: 1/1;
            grid-row: 1/2;
        }
        .company{
            grid-column: 2/2;
            grid-row: 1/2;
        }
        .help{
            grid-column: 3/3;
            grid-row: 1/2;
        }
        .scroll_button{
          grid-column: 1/4;
          grid-row: 2/3;
          text-align: right;
        }
    }
// styling for footer
.footer{
    li{
        margin-top: 20px;
        list-style-type: none;
    }
  a{
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding: 20px;
      &:hover{
        color:rgb(255, 114, 138);
      }
  }
 }
 .footer2{
    background-color:  rgb(255, 114, 138) ;
    height: 30px;
    padding: 5px;
}
.scroll_button{
  a {
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 5000s;
   }
}
}
html {
  scroll-behavior: smooth;
}