/* for mobile view */
@media only screen and (min-device-width:1px) and (max-device-width:640px){
    h1, h2{
        color: rgb(255, 114, 138) ;
    }
    
// styling nav
.nav_bar {
    text-align: right;
    img {
      float: left;
    }
  }
  // .menu {
  
  // }
  .menu{
    margin: 0 30px 0 0;
    display: none;
    a {
      text-decoration: none;
      color: black;
      margin: 0 10px;
      line-height: 70px;
      display: block;
      text-align: center;
      clear: right;
    }
    a:hover {
      color: #e38f84;
    }
  }
  label {
    margin: 0 40px 0 0;
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
   }
   #toggle {
     display: none;
   }
   #toggle:checked + .menu {
     display: block;
   }
  
  input {
     margin-left: 20%;
  }
  button{
    img {
      width: 12px;
      height: 12px;
    }
  }
    // code for carousel
    .wrapper {
        overflow: hidden;
      }
      .slider {
        background: url("../images/carousalremake.png") repeat-x;
        height: 150px;
        width: 5076px;
        animation: move 30s linear infinite;
      }
      @keyframes move{
        0%{
          transform: translate3d(0, 0, 0);
        }
        100%{
          transform: translate3d(-3172px, 0, 0);
        }
      }
      .courses_section{
          div{
              text-align: center;
              border:solid 2px rgb(255, 114, 138);
              margin-top: 10px;
              img{
                  margin-top: 10px;
              }
          }
          li{
              margin-top: 10px;
          }
      }
    //   styling the footer
     .footer{
        li{
            margin-bottom: 20px;
            list-style: none;
            // text-align: center;
        }
        a{
            // padding-left: 70px;
            // margin-left: 20px;
            margin-top: 20px;
            color:black;
            text-decoration: none;
            &:hover{
                color:rgb(255, 114, 138);
            }
        }
    }
    .footer2{
        background-color:  rgb(255, 114, 138) ;
        height: 30px;
        padding: 5px;
    }
}


/* for laptop view */
@media only screen and (min-device-width:1024px) and (max-device-width: 1440px){
    h1, h2{
        color: rgb(255, 114, 138) ;
    }
    .header{
        h1{
            // color: rgb(255, 114, 138) ;
            margin-top:10px;
            
        }
        height: 160px;
        button{
            background-color: #0000005e;
            border: none;
            color: black;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: rgb(255, 114, 138) ;
                padding-right: 30px;
                color:white;
            }
            a{
                color:white;
                text-decoration: none;
            }
        }
    }

// styling the navbar
.navbar{
    text-align: center;
    label{
      display: none;
    }
    .search{
      height: 20px;
    }
    #toggle{
      display: none;
    }
    a{
      padding:20px;
       color:black;
       text-decoration: none;
       &:hover{
           color:rgb(255, 114, 138);
       }
   }
}
    // layout for courses section
    .courses_section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 10px;
        text-align: center;
        margin-top:20px;
        div{
            border:solid rgb(255, 114, 138) 2px;
            padding:10px;
        }
        li{
            margin-bottom: 20px;
            list-style-type: none;
        }
        
    }
    .subscribe{
        h2{
            color: rgb(255, 114, 138) ;
        }
        input{
            padding:20px;
            border: solid 2px rgb(255, 114, 138);
            margin-bottom: 20px;
            background:transparent;
        }
        button{
            background-color: #0000005e;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: rgb(255, 114, 138) ;
                padding-right: 30px;
            }
        }
    }
    // code for carousel
    .wrapper {
        overflow: hidden;
      }
      .slider {
        background: url("../images/carousalremake.png") repeat-x;
        height: 150px;
        width: 5076px;
        animation: move 30s linear infinite;

      }
      @keyframes move{
        0%{
          transform: translate3d(0, 0, 0);
        }
        100%{
          transform: translate3d(-3172px, 0, 0);
        }
      }
    //   styling for shopping cart
    .shopping_cart{
        .cart{
            background-color: grey;
            margin-top: 20px;
            border-radius: 10px;
        }
    }
    //  layout and styling of footer
    .footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-gap:10px;
        .contact{
            grid-column: 1/1;
            grid-row: 1/2;
        }
        .company{
            grid-column: 2/2;
            grid-row: 1/2;
            margin-top: 70px;
            ul{
                margin-right:110px;
            }
        }
        .help{
            grid-column: 3/3;
            grid-row:1/2;  
            ul{
                margin-right:110px;
            }    
        }
        
        li{
            margin-bottom: 20px;
            text-align: center;
        }
        a{
            padding-left: 70px;
            margin-left: 20px;
            margin-top: 20px;
            color:black;
            text-decoration: none;
            &:hover{
                color:rgb(255, 114, 138);
            }
        }
    }
    .footer2{
        background-color:  rgb(255, 114, 138) ;
        height: 30px;
        padding: 5px;
    }
}
